<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}""></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>Hello world!</h1>
                </div>
            </div>
        </div>
    </body>
</html>
